*{
    font-family: Tahoma;
    font-size: x-large;
}

body{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 20%;
  background-color: #1d1b1b;
  color: white;
  text-align: center;
}

a{
    color: lightgray;
    text-decoration: none;
}

a:hover{
    color: rgb(156, 155, 155);
}